MONNIFY_API_KEY=your_api_key
MONNIFY_SECRET_KEY=your_secret_key
MONNIFY_CONTRACT_CODE=your_contract_code
MONNIFY_SOURCE_ACCOUNT=your_disbursement_wallet_account_number
GROQ_API_KEY=your_groq_api_key
PORT=3000
